@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Cormorant SC', serif;
}
.app-container {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}
.nav {
	margin-bottom: 120px;
}
.about {
	margin-top: 90px;
}

.path {
	margin-top: 120px;
}
  